{% include 'header/header.html' %}

<style>
  body{
    background-color: #e8ebf1;
  }
    .bs-example{
        margin: 20px;        
    }
    .bs-example div span, .bs-example div label{border-bottom: 1px solid #001628;}
    /*rgba(32,28,41,.75) #001628;*/
</style>
</head>
<body>
  <div  style="float: left;margin: 15% 35%; width: 450px; padding: 15px 50px; border: 2px solid #009688">
    
    <div style="font-size: 35px;">Contact</div>

    <div class="bs-example">

      <div class="form-group row">
          <div class="col-md-12">
            <span class="col-md-6">Noms & Prenoms</span>
            <label class="col-md-6">Armel DREY</label>
          </div>
          
          <div class="col-md-12">
            <span class="col-md-6">Email</span>
            <label class="col-md-6">armeldrey@gmail.com</label>
          </div>
          
          <div class="col-md-12">
            <span class="col-md-6">twitter</span>
            <label class="col-md-6">@armeldrey</label>
          </div>
          
          <div class="col-md-12">
            <span class="col-md-6">linkedin</span>
            <label class="col-md-6">#armeldrey</label>
          </div>
          
          <div class="col-md-12">
            <span class="col-md-6">Téléphone</span>
            <label class="col-md-6">221-77-298-00-18</label>
          </div>
          
      </div>

    </div>
  </div>
</body>
</html>                            